In [4]:
#  import the basic need lib 


import pandas as pd  

import numpy as np 

import matplotlib.pyplot as plt  

%matplotlib inline

In [5]:
df =  pd.read_csv('height-weight.csv') 
df.head()

   Weight  Height
0      45     120
1      58     135
2      48     123
3      60     145
4      70     160

In [6]:
plt.scatter(df['Weight'],df['Height'])
plt.xlabel("Weight")
plt.ylabel("Height")

Text(0, 0.5, 'Height')

In [7]:
#correalion between weight and Hight 

df.corr()

          Weight    Height
Weight  1.000000  0.931142
Height  0.931142  1.000000