In [1]:
print("hello world")

hello world

In [4]:
a = 10
b = 20
print(a + b)
print(a-b)
print(a * b)
print(a / b)

30
-10
200
0.5

In [6]:
name= "nishant"
last_name = "tarvekar"
print(name + " " + last_name)

nishant tarvekar

In [8]:
a = True 

type(a)

bool

In [9]:
a = 2 
b =5 
# Exponentiation
print(a ** b)

32

In [14]:



x = 5
x = x +3
print(x)

8

In [18]:
mylist = [1, 2, 3, 4, 5]

print(mylist[2])  # Accessing the first element

3

In [22]:
fruits = ["1","apple", "banana", "cherry","apple", "banana", "cherry"]
print(fruits)  # Accessing the first element

['1', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry']

In [21]:
print(len(fruits))  # Length of the list

6

In [23]:
fruits.append("orange")  # Adding an element
print(fruits)  # Accessing the first element

['1', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'orange']

In [24]:
fruits.remove("banana")  # Removing an element
print(fruits)  # Accessing the first element

['1', 'apple', 'cherry', 'apple', 'banana', 'cherry', 'orange']

In [25]:
fruits.insert(1, "kiwi")  # Inserting an element at a specific position
print(fruits)  # Accessing the first element

['1', 'kiwi', 'apple', 'cherry', 'apple', 'banana', 'cherry', 'orange']

In [26]:
joined_list = fruits + mylist  # Concatenating two lists
print(joined_list)  # Accessing the first element

['1', 'kiwi', 'apple', 'cherry', 'apple', 'banana', 'cherry', 'orange', 1, 2, 3, 4, 5]

In [28]:
tuple_example = (1, 2, 3, 4, 5)  # Creating a tuple
print(tuple_example)  # Accessing the first element of the tuple

(1, 2, 3, 4, 5)

In [31]:
tuple_example = ("apple","apple", "banana", "cherry",1,2,3)  # Creating a tuple
print(tuple_example)  # Accessing the first element of the tuple

('apple', 'apple', 'banana', 'cherry', 1, 2, 3)

In [32]:
#set

set_example = {1, 2, 3, 4, 5}  # Creating a set
print(set_example)  # Accessing the set

{1, 2, 3, 4, 5}

In [36]:
set_example = {"apple" ,"apple",1, "banana", "cherry", 1, 2, 3}  # Creating a set with mixed types
print(set_example)  # Accessing the set with mixed types

{1, 2, 3, 'banana', 'apple', 'cherry'}

In [39]:
#dictionary
nishant = {
    "name": "Nishant",
    "last_name": "Tarvekar",
    "age": 25,
    "city": "Pune"
}
print(nishant)  # Accessing the dictionary

{'name': 'Nishant', 'last_name': 'Tarvekar', 'age': 25, 'city': 'Pune'}

In [40]:
name =  nishant["name"]  # Accessing a value by key
print(name)  # Accessing the name value

Nishant

In [42]:
nishant["age"] = 26  # Modifying a value
print(nishant)  # Accessing the modified dictionary

{'name': 'Nishant', 'last_name': 'Tarvekar', 'age': 26, 'city': 'Pune'}

In [43]:
nishant.pop("age")  # Removing a key-value pair
print(nishant)  # Accessing the dictionary after removal

{'name': 'Nishant', 'last_name': 'Tarvekar', 'city': 'Pune'}

In [45]:
age = 17 

if age>=18:
    print("You are an adult")
else:
    print("You are a minor")

You are a minor

In [46]:
age = 19

if age > 10:
  print("Above ten,")
  if age > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
but not above 20.