In [3]:
import sqlite3

connection = sqlite3.connect('example.db')

In [4]:

# Create a cursor object to execute SQL commands
cursor = connection.cursor()

In [5]:
#ceate a table named 'users' with columns id, name, age, and department

cursor.execute('''CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,   
    name TEXT NOT NULL,
    age INTEGER NOT NULL,
    department TEXT NOT NULL
               )''')

connection.commit()

In [6]:
# Insert a new user into the users table
cursor.execute(''' 
select * from users
               ''')


connection.commit()

In [7]:
#inserting data
cursor.execute('''INSERT INTO users (name, age, department) VALUES ('Alice', 30, 'HR')''')
cursor.execute('''INSERT INTO users (name, age, department) VALUES ('Bob', 25, 'Engineering')''')
cursor.execute('''INSERT INTO users (name, age, department) VALUES ('Charlie', 35, 'Marketing')''')

connection.commit()

In [8]:
#querying data in the users table itself
cursor.execute('''SELECT * FROM users''')
row = cursor.fetchall()

for r in row:
    print(r)

(1, 'Alice', 31, 'HR')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 35, 'Marketing')
(4, 'Alice', 30, 'HR')
(5, 'Bob', 25, 'Engineering')
(6, 'Charlie', 35, 'Marketing')

In [ ]:
#updating data in the users table
cursor.execute('''UPDATE users SET age = 31 WHERE name = 'Alice' ''')



connection.commit()

In [27]:
#deleting data in the users table
cursor.execute('''DELETE FROM users WHERE name = 'Bob' ''')
connection.commit()

In [31]:
#querying data in the users table itself
cursor.execute('''SELECT * FROM users''')
row = cursor.fetchall()

for r in row:
    print(r)

(1, 'Alice', 31, 'HR')
(3, 'Charlie', 35, 'Marketing')
(4, 'Alice', 31, 'HR')
(6, 'Charlie', 35, 'Marketing')

In [32]:
 #close the connection
connection.close()