In [6]:
import pandas as pd

df =  pd.DataFrame({

 'color' : ['red','blue','green','red','blue']


})

In [7]:
df.head()

   color
0    red
1   blue
2  green
3    red
4   blue

In [8]:
import pandas as pd


from sklearn.preprocessing import LabelEncoder

lbl = LabelEncoder()

In [9]:
lbl.fit_transform(df[['color']])

c:\Users\praja\Machine Learning\venv\lib\site-packages\sklearn\preprocessing\_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 0, 1, 2, 0])

In [10]:
# ordinal Encioding

from sklearn.preprocessing import OrdinalEncoder
enc = OrdinalEncoder()

In [14]:
df = pd.DataFrame({
    'size' : ['small' , 'medium' , 'large' , 'medium','small','large']
})

In [15]:
df

     size
0   small
1  medium
2   large
3  medium
4   small
5   large

In [16]:
ord_encoder = OrdinalEncoder(categories=[['small','medium','large']])

In [17]:
ord_encoder.fit_transform(df[['size']])

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.]])

In [19]:
ord_encoder.transform([['small']])

c:\Users\praja\Machine Learning\venv\lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(

array([[0.]])