In [1]:
# Definition of Pandas in Python

# Pandas is a powerful open-source library in Python used for data manipulation, analysis, and cleaning.
# It provides two main data structures: Series (1-dimensional) and DataFrame (2-dimensional, like a table).
# Pandas makes it easy to load, process, and analyze data from various sources such as CSV, Excel, SQL, and more.

import pandas as pd

# Example: Creating a simple DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35]}
df = pd.DataFrame(data)
print(df)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [3]:
# Creating a Pandas Series from a dictionary

# A Series is a one-dimensional labeled array capable of holding any data type.
# When you pass a dictionary to pd.Series, the keys become the index.


series = pd.Series(data['Age'])
print(series)

0    25
1    30
2    35
dtype: int64

In [6]:
#Assessing data from DataFrame 

df["Name"]

0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object

In [7]:
df["Age"]

0    25
1    30
2    35
Name: Age, dtype: int64

In [8]:
# Filter rows where Age > 25
df[df['Age'] > 25]

      Name  Age
1      Bob   30
2  Charlie   35

In [11]:
#Adding a New Column
df['Country'] = ['USA', 'UK', 'Canada']

print(df)

      Name  Age Country
0    Alice   25     USA
1      Bob   30      UK
2  Charlie   35  Canada

In [12]:
# Increase all ages by 1
df['Age'] = df['Age'] + 1

print(df)

      Name  Age Country
0    Alice   26     USA
1      Bob   31      UK
2  Charlie   36  Canada

In [15]:
#Deleting a Column

df = df.drop('Country', axis=1, errors='ignore')

print(df)

      Name  Age
0    Alice   26
1      Bob   31
2  Charlie   36